@import url('https://fonts.googleapis.com/css2?family=Moirai+One&display=swap');

/* home */
.first-view {
  height: calc(100vh - 138px);
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFDC02;
}

.top-img {
  width: 40vw;
  background-position: center;
  object-fit: cover;
}

.top-text-contents h1 {
  font-family: 'Moirai One', cursive;
  font-size: 5rem;
}