@import url('https://fonts.googleapis.com/css2?family=Moirai+One&display=swap');

/* home */
.first-view {
  height: calc(100vh - 138px);
  width: auto;
  position: relative;
}

.top-img {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: auto;
}

.top-text-contents {
  position: absolute;
  top: 40%;
  left: 20%;
}

.top-text-contents h1 {
  font-family: 'Moirai One', cursive;
  font-size: 3.75rem;
}