@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p&family=Moirai+One&family=Noto+Sans+JP:wght@100;400;500&display=swap');


body {
  margin: 0;
  font-family: 'M PLUS 1p', sans-serif;
  font-family: 'Moirai One', cursive;
  font-family: 'Noto Sans JP', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  margin: 0;
}

p {
  margin: 0;
}

.wrapper {
  height: calc(100vh - 138px);
}