/* Top */
@import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&family=M+PLUS+1p&family=Moirai+One&family=Noto+Sans+JP:wght@100;400;500&display=swap');



/* ul, li {
  padding: 0;
  margin: 0;
} */

.wrapper {
  overflow: scroll;
  height: calc(100vh - 138px);
}

.top-heading {
  text-align: center;
  margin: 40px auto 20px;
}

.total-amount {
  margin: 20px;
  font-family: 'Bagel Fat One', cursive;
  color: #FFDC02;
}

.num-lists {
  height: 100%;
  width: 80%;
}

.num-list {
  margin: 2.5px;
}

/* SP版 */
@media screen and (max-width: 767px) {
  .num-lists {
    margin: auto;
  }

  .num-list {
    padding: 0;
    min-width: 40px;
  }
}